.container {
  display: grid;
  grid-template-columns: 0.9fr 1fr 1fr 1fr;
  grid-template-rows: 80px 1.3fr 1.3fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo header-container header-container header-container"
    "file-list-container folder-details folder-details dashboard"
    "file-list-container folder-details folder-details upload-file"
    "terminal history history send-mail";
}

.header-container {
  grid-area: header-container;
 
}

.logo {
  grid-area: logo;

}

.file-list-container {
  grid-area: file-list-container;
 
}

.dashboard {
  grid-area: dashboard;

}

.folder-details {
  grid-area: folder-details;
 
}

.upload-file {
  grid-area: upload-file;

}

.history {
  grid-area: history;
 
}

.terminal {
  grid-area: terminal;
 
}

.send-mail {
  grid-area: send-mail;

}
