
.dashboard {
    display: grid;
    grid-template-rows: 40px 1fr;

   
}
.total-size{
    color: var(--clr4);
    padding: 0;
    display: grid;
    place-content: center;
    font-size: 49px;
    margin: 0;
    text-transform: capitalize;
}


