.folder-details{
    display: grid;
    align-items: start;
    grid-template-rows: 40px 1fr;
}

.file-content{
    overflow: auto;
}

.ftp-get-btn{
    width: min-content;
    padding: 7px;
    background: var(--clr1);
    border: none;
    color: var(--clr2);
    border-radius: 4px;
}