.user-preview{
    display: grid;
    align-items: center;
    justify-content: end;
    position: relative;
}


.user-preview h4{
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 50vh;
}

.user-preview .connection-indicator{
  
    position: absolute;
    /* top: -0.2em; */
    right: 0;
    top: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
}

.user-preview .connection-indicator.online{
    background-color: lightgreen;
}